.perryr-forecast-list__days {
    list-style: none;
    padding: 0;
}

.perryr-forecast-day, .perryr-forecast-list__heading {
    display: grid;
    grid-template-columns: auto repeat(8, 50px);
}

.perryr-forecast-day {
    display: grid;
    grid-template-columns: auto repeat(8, 50px);

    &__symbol--hidden {
        visibility: hidden;
    }
}

.perryr-forecast-list__day-heading {
    grid-column: 3/5;
}

.perryr-forecast-list__morning-heading,
.perryr-forecast-list__afternoon-heading {
    display: none;
}