<div class="perryr-current-weather">
    <h2 class="perryr-current-weather__header">Været nå</h2>
    <img class="perryr-current-weather__icon" [src]="'/assets/weathericons/'+ ($currentWeather | async)?.symbol_code + '.svg'" [alt]="($currentWeather | async)?.symbol_desc"/>
    <div class="perryr-current-weather__temp">{{($currentWeather | async )?.air_temperature}}<span title="grader celsius" aria-label="grader celsius">°C</span></div>
    <div class="perryr-current-weather__precipitation">{{($currentWeather | async )?.precipitation_rate}}<span title="millimeter nedbør" aria-label="millimeter nedbør">mm</span></div>
    <div class="perryr-current-weather__wind">{{($currentWeather | async )?.wind_speed}} m/s</div>
</div>